In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load, YAMLError
import os
from tqdm import tqdm

In [2]:
file_names = []
for file in os.listdir('t20s'):
    file_names.append(os.path.join('t20s',file))

In [3]:
len(file_names)

1433

In [4]:
file_names.pop(1074)

't20s/README.txt'

In [5]:
len(file_names)

1432

In [6]:
counter = 1
final_df = pd.DataFrame()
for f in tqdm(file_names):
    with open(f, 'r') as file:
        data = safe_load(file)
        df = pd.json_normalize(data)
        df['match_id']  = counter
        final_df = pd.concat([final_df, df], ignore_index=True)
        counter +=1

100%|███████████████████████████████████████| 1432/1432 [03:47<00:00,  6.29it/s]

In [7]:
backup =  final_df.copy()

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.match_type_number,info.outcome.winner,...,match_id,info.outcome.by.runs,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2020-03-01,1,Canberra,[2020-02-26],female,T20,853.0,Pakistan,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2016-03-17,2,Bangalore,[2016-03-15],female,T20,NaN,India,...,2,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2019-08-06,1,Lauderhill,[2019-08-03],male,T20,842.0,India,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2012-04-16,2,St Lucia,[2012-03-27],male,T20,NaN,Australia,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2017-02-13,1,Bangalore,[2017-02-01],male,T20,NaN,India,...,5,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432 entries, 0 to 1431
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   innings                      1432 non-null   object
 1   meta.data_version            1432 non-null   float64
 2   meta.created                 1432 non-null   object
 3   meta.revision                1432 non-null   int64
 4   info.city                    1240 non-null   object
 5   info.dates                   1432 non-null   object
 6   info.gender                  1432 non-null   object
 7   info.match_type              1432 non-null   object
 8   info.match_type_number       699 non-null    float64
 9   info.outcome.winner          1386 non-null   object
 10  info.outcome.by.wickets      662 non-null    float64
 11  info.overs                   1432 non-null   int64
 12  info.player_of_match         1269 non-null   object
 13  info.teams                   1432 non-null   object
 14  info.toss.decision           1432 non-null   object
 15  info.toss.winner             1432 non-null   object
 16  info.umpires                 1410 non-null   object
 17  info.venue                   1432 non-null   object
 18  match_id                     1432 non-null   int64
 19  info.outcome.by.runs         724 non-null    float64
 20  info.neutral_venue           328 non-null    float64
 21  info.outcome.method          51 non-null     object
 22  info.outcome.result          46 non-null     object
 23  info.outcome.eliminator      16 non-null     object
 24  info.bowl_out                2 non-null      object
 25  info.outcome.bowl_out        2 non-null      object
 26  info.supersubs.New Zealand   1 non-null      object
 27  info.supersubs.South Africa  1 non-null      object
dtypes: float64(5), int64(3), object(20)
memory usage: 313.4+ KB

In [9]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [10]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432 entries, 0 to 1431
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   innings               1432 non-null   object
 1   info.city             1240 non-null   object
 2   info.dates            1432 non-null   object
 3   info.gender           1432 non-null   object
 4   info.match_type       1432 non-null   object
 5   info.outcome.winner   1386 non-null   object
 6   info.overs            1432 non-null   int64
 7   info.player_of_match  1269 non-null   object
 8   info.teams            1432 non-null   object
 9   info.toss.decision    1432 non-null   object
 10  info.toss.winner      1432 non-null   object
 11  info.umpires          1410 non-null   object
 12  info.venue            1432 non-null   object
 13  match_id              1432 non-null   int64
dtypes: int64(2), object(12)
memory usage: 156.8+ KB

In [11]:
final_df['info.gender'].value_counts()

male      966
female    466
Name: info.gender, dtype: int64

In [12]:
final_df = final_df[final_df['info.gender']=='male']
final_df.drop(columns=['info.gender'], inplace = True)

In [17]:
final_df['info.match_type'].value_counts()

T20    966
Name: info.match_type, dtype: int64

In [18]:
final_df['info.overs'].value_counts()

20    963
50      3
Name: info.overs, dtype: int64

In [19]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs', 'info.match_type'], inplace = True)

/var/folders/2m/bcrsq2rn60n_0qbc80sw7mqm0000gn/T/ipykernel_40174/3877671917.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.overs', 'info.match_type'], inplace = True)

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
2,"[{'1st innings': {'team': 'West Indies', 'deli...",Lauderhill,[2019-08-03],India,[NA Saini],"[India, West Indies]",field,India,"[N Duguid, GO Brathwaite]",Central Broward Regional Park Stadium Turf Ground,3
3,"[{'1st innings': {'team': 'West Indies', 'deli...",St Lucia,[2012-03-27],Australia,[SR Watson],"[West Indies, Australia]",bat,West Indies,"[GO Brathwaite, PJ Nero]","Beausejour Stadium, Gros Islet",4
4,"[{'1st innings': {'team': 'India', 'deliveries...",Bangalore,[2017-02-01],India,[YS Chahal],"[India, England]",field,England,"[AK Chaudhary, Nitin Menon]",M Chinnaswamy Stadium,5
5,"[{'1st innings': {'team': 'England', 'deliveri...",Nottingham,[2009-06-11],South Africa,[JH Kallis],"[England, South Africa]",bat,England,"[SJ Davis, AL Hill]",Trent Bridge,6
6,"[{'1st innings': {'team': 'South Africa', 'del...",Cape Town,[2020-12-01],England,[DJ Malan],"[South Africa, England]",bat,South Africa,"[A Paleker, BP Jele]",Newlands,7

In [22]:
import pickle
pickle.dump(final_df,open('dataset_1.pkl', 'wb'))