In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('final_df.csv')

In [39]:
df.sample(4)

,Unnamed: 0,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_five_over_runs,final_score
8130,48000,New Zealand,England,Wellington,196,0,5,9.800000,50.0,196
703,23870,Bangladesh,Australia,Bangalore,94,39,6,6.962963,44.0,156
28661,21754,West Indies,New Zealand,Lauderhill,98,45,9,7.840000,47.0,209
19405,42311,Australia,England,Barbados,59,48,6,4.916667,25.0,147

In [40]:
df.drop(columns='Unnamed: 0', inplace=True)

In [41]:
df.head()

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_five_over_runs,final_score
0,India,England,Colombo,168,-2,6,8.262295,51.0,170
1,Australia,India,Melbourne,74,42,5,5.692308,26.0,132
2,South Africa,India,Mirpur,81,51,8,7.043478,34.0,172
3,Sri Lanka,England,St Lucia,40,74,7,5.217391,21.0,128
4,Bangladesh,India,Colombo,110,30,5,7.333333,42.0,166

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38751 entries, 0 to 38750
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   batting_team         38751 non-null  object
 1   bowling_team         38751 non-null  object
 2   city                 38751 non-null  object
 3   current_score        38751 non-null  int64
 4   balls_left           38751 non-null  int64
 5   wickets_left         38751 non-null  int64
 6   current_run_rate     38751 non-null  float64
 7   last_five_over_runs  38751 non-null  float64
 8   final_score          38751 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 2.7+ MB

In [58]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['final_score'])
y = df['final_score']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [59]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [60]:
transformer = ColumnTransformer(transformers=[
    ('ohe', OneHotEncoder(sparse=False, drop='first'),['batting_team', 'bowling_team', 'city'] )
], remainder='passthrough')

In [87]:
pipe = Pipeline(steps = [
    ('step1', transformer ),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(n_estimators = 1390, learning_rate = 0.23, max_dept = 20, random_state = 42))
])

In [88]:
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
r2Score = r2_score(y_pred,y_test)
mae = mean_absolute_error(y_pred, y_test)
print(r2Score, mae)

/Users/arjitsharma/opt/anaconda3/lib/python3.9/site-packages/xgboost/core.py:158: UserWarning: [12:02:18] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "max_dept" } are not used.

  warnings.warn(smsg, UserWarning)

0.9887041655448405 1.857128235343625